# Ignore les fichiers de compilation
/build/
*.o
*.obj
*.so
*.a
*.dll
*.exe

# CMake files
/CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeLists.txt.user

# Ignore les fichiers temporaires de l'éditeur
.vscode/
*.swp
